<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_DIR">logs</Property>
        <Property name="LOG_FILE">bgmonitor.log</Property>
        <Property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} - %msg%n</Property>
    </Properties>

    <Appenders>
        <RollingFile name="RollingFile"
                     fileName="${LOG_DIR}/${LOG_FILE}"
                     filePattern="${LOG_DIR}/bgmonitor-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100KB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>
